@use './vars.scss' as *;

@mixin bg_color() {
    background: $background-color-light;
    [data-theme='dark'] & {
        background: $background-color-dark;
    }
}

@mixin font_color() {
    color: $font-color-light;
    [data-theme='dark'] & {
        color: $font-color-dark;
    }
}

@mixin font_color_secondary() {
    color: $font-color-light-secondary;
    [data-theme='dark'] & {
        color: $font-color-dark-secondary;
    }
}

@mixin svg_color() {
    fill: $font-color-light;
    [data-theme='dark'] & {
        fill: $font-color-dark;
    }
}

@mixin font_theme_color() {
    color: $font-color-theme-light;
    [data-theme='dark'] & {
        color: $font-color-theme-dark;
    }
}

@mixin nav_color() {
    background-color: $nav-color-light;
    [data-theme='dark'] & {
        background-color: $nav-color-dark;
    }
}
